body{
padding: 50px 50px;
    /* background-image: url("group.jpg"); */
    background-repeat: no-repeat;
    background-size:80%;
    background-color: rgb(12, 9, 9);
padding-top: 10px 10px;
}
.box1{
    margin-top: auto;   
}
